<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Problemrapportering</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>


<div class="form-container">
  <h2>Rapporter et problem</h2>
  <form method="POST" action="/">
    <label for="navn">Navn:</label>
    <input type="text" id="navn" name="navn" value="{{ navn }}" readonly required>

    <label for="email">E-post:</label>
    <input type="email" id="email" name="email" value="{{ email }}" readonly required>

    <label for="problem">Velg problem:</label>
    <select id="problem" name="problem" required>
        <option value="">-- Velg et problem --</option>
        <option value="IT-feil">IT-feil</option>
        <option value="Programvarelisens">Programvarelisens</option>
        <option value="Vedlikehold">Vedlikehold</option>
        <option value="fakturaproblemer">fakturaproblemer</option>
        <option value="annet">Annet</option>
    </select>

    <label for="beskrivelse">Beskrivelse av problemet:</label>
    <textarea id="beskrivelse" name="beskrivelse" placeholder="Skriv her" style="font-style: italic;"></textarea>

    <button type="submit">Send inn</button>
</form>
<div class="linker">
<a class="login-link" href="/henvendelser">Se dine henvendelser!</a>
<a class="login-link" href="/loggut">logg ut!</a>
</div>

</body>
</html>
