<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Registrer</title>
    <link rel="stylesheet" href="/static/style.css" />
    
</head>
<body>
  <div class="register-container">
    <h2>Registrer ny bruker</h2>
    <form method="POST" action="/registrer">
      <label for="navn">Navn:</label>
      <input type="text" id="navn" name="navn" required />

      <label for="email">E-post:</label>
      <input type="email" id="email" name="email" required />

      <label for="passord">Passord:</label>
      <input type="password" id="passord" name="passord" required />

      <button type="submit">Registrer</button>
    </form>
    <a class="login-link" href="/logginn">Har du allerede bruker?</a>
  </div>
</body>
</html>
